$primaria-vermelho-suave-cor: hsl(7, 99%, 70%);
$primaria-amarelo-cor: hsl(51, 100%, 49%);
$primaria-azul-escuro-cor: hsl(198, 62%, 26%);
$primaria-ciano-escuro-dessaturado-cor: hsl(167, 40%, 24%);
$primaria-ciano-escuro-moderado-cor: hsl(168, 34%, 41%);
$primaria-ciano-claro-cor: hsl(167, 44%, 70%);
$primaria-azul-claro-cor: hsl(200, 100%, 62%);

$neutra-azul-dessaturado-muito-escuro-cor: hsl(212, 27%, 19%); 
$neutra-azul-acinzentado-muito-escuro-cor: hsl(213, 9%, 39%);
$neutra-azul-acinzentado-escuro-cor: hsl(232, 10%, 55%);
$neutra-azul-acinzentado-cor: hsl(210, 4%, 67%);
$neutra-branco-cor: hsl(0, 0%, 100%);

